.language-btn {
    font-size: 14px;
    cursor: pointer;
}
.menubar a:hover{
    color: var(--color-purple-600);
}

.slick-initialized .slick-slide>div {
    margin: 0 10px;
}
.slick-initialized .slick-slide.slick-active{

}